# Ignore everythings...
*

# ... except preferences
!.gitignore
!Preferences.sublime-settings
!Package Control.sublime-settings
!SublimeAStyleFormatter.sublime-settings
!EasyClangComplete.sublime-settings
!SublimeLinter.sublime-settings
